RewriteEngine on

RewriteRule ^(Static)($|/) - [L]
RewriteRule ^index/(.+)$ https://%{SERVER_NAME}/$1 [R=301,L]
RewriteRule ^(.+)/index$ https://%{SERVER_NAME}/$1 [R=301,L]
RewriteRule ^(.+)/$      https://%{SERVER_NAME}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.+?$ index.php
